body {
	margin: 10px;
	background-color: #ffa64d;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.photo {
	text-align: center;
}

.middle {
	width: 50%;
	height: 500px;
}

.bottom {
	text-align: center;
}

.image {
	width: 100%;
	height: 250px;
}

.logo {
	width: 20%;
	height: 100px;
}

h1 {
	text-align: right;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
}

.lpu {
	background-color: white;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

.gitam {
	background-color: white;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

.bec {
	background-color: white;
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

@media screen and (max-width :400px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}
